# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.vscode

# OS
.DS_STORE
Thumbs.db

# Java
*.class
*.log
hs_err_pid*

.project
.classpath
.settings/
.factorypath
bin/